.second {
  margin-right: 55px;

  .home-title-name {
    .l2,
    .k,
    .b {
      margin-right: 10px;
    }
    .m,
    .a2,
    .a3,
    .l,
    .f,
    .u,
    .l,
    .l2,
    .l,
    .dash,
    .s,
    .t,
    .a,
    .c,
    .k,
    .w,
    .e,
    .b,
    .d,
    .e,
    .v,
    .e,
    .l,
    .o,
    .p,
    .e,
    .r {
      height: 50px;
      width: max-content;
      cursor: pointer;

      h2 {
        font-size: 3rem;
        margin: 0;
      }
    }

    .i,
    .a2,
    .m {
      margin-right: 10px;
    }
  }
  .description-container {
    .y,
    .n,
    .s3,
    .f,
    .e3,
    .t2,
    .comma,
    .d {
      margin-right: 10px;
    }
  }
}
